<div
  class="grid grid-cols-grid-2 grid-rows-grid-2-row justify-between gap-y-[29px] mt-[30px] gap-x-[30px] desktop:grid-cols-grid-2-responsive tablet:flex tablet:flex-col"
>
  <img src="/images/desktop/image-grid-2@2x.jpg" alt="" aria-hidden="true" class=" w-full h-full object-cover col-[1] row-[1/3] ">
  <img src="/images/desktop/image-grid-3@2x.jpg" alt="" aria-hidden="true" class=" w-full h-full object-cover">
  <article
    class="pt-[65px] pb-[40px] pl-[48px] pr-[50px] col-[2/3] row-[2/3] tablet:pl-[20px] tablet:pr-[10px] bg-black text-white"
  >
    <h2
      class="font-big-shoulder text-xl font-black tracking-[-0.5px] leading-[60px] uppercase mb-[30px]"
    >
      Come & be inspired
    </h2>
    <p class="text-2lg leading-[32px]">
      We’re excited to welcome you to our gallery and see how our collections
      influence you.
    </p>
  </article>
</div>
