<div
  class="grid grid-cols-grid-1 justify-between gap-[30px] desktop:grid-cols-grid-1-responsive tablet:flex tablet:flex-col-reverse"
>
  <article class="pt-[60px] pb-[50px] mobile:pt-0">
    <h2
      class="font-big-shoulder text-xl font-black tracking-[-0.5px] leading-[60px] uppercase mb-[33px]"
    >
      Your Day at the Gallery
    </h2>
    <p class="text-2lg leading-[32px]">
      Wander through our distinct collections and find new insights about our
      artists. Dive into the details of their creative process.
    </p>
  </article>
  <img src="/images/desktop/image-grid-1@2x.jpg" alt="" aria-hidden="true" class="w-full h-full object-cover">
</div>
