<section class="bg-black text-white">
  <div
    class="container grid grid-cols-[minmax(200px,300px)_minmax(200px,540px)] justify-between pt-[95px] pb-[126px] tablet:grid-cols-1"
  >
    <h1
      class="font-big-shoulder text-2xl uppercase font-black leading-[70px] tracking-[1px] mb-[40px]"
    >
      Our Location
    </h1>
    <div>
      <span
        class="font-big-shoulder uppercase text-[36px] tracking-[1px] text-pale-brown"
        >99 king street</span
      >
      <ul class="mt-[15px]">
        <li class="text-2lg">Newport</li>
        <li class="text-2lg">RI 02840</li>
        <li class="text-2lg">United States of America</li>
      </ul>
      <p class="text-2lg mt-[30px] leading-[32px]">
        Our newly opened gallery is located near the Edward King House on 99
        King Street, the Modern Art Gallery is free to all visitors and open
        seven days a week from 8am to 9pm.
      </p>
    </div>
  </div>
</section>
