<div
  class="relative bg-map bg-no-repeat bg-cover bg-center w-full h-[65.3vh] tablet:h-[50vh]"
>
  <div class="container">
    <a href="/" class="flex max-w-[255px] min-h-[72px] group">
      <div
        class="bg-pale-brown w-[19%] grid place-content-center group-hover:bg-black duration-200"
      >
        <img src="/images/icon-arrow-left.svg" alt="" aria-hidden="true" />
      </div>
      <div
        class="grid place-content-center bg-black w-[81%] text-white group-hover:bg-pale-brown duration-200"
      >
        <span class="font-big-shoulder text-lg tracking-[3.6px] uppercase"
          >Back to Home</span
        >
      </div>
    </a>
  </div>
</div>
