<div class="relative flex w-full h-full">
  <div class="fixed top-0 left-0 w-[20%] h-full bg-black preloader z-[99]"></div>
  <div class="fixed top-0 left-[20%] w-[20%] h-full bg-black preloader z-[99]"></div>
  <div class="fixed top-0 left-[40%] w-[20%] h-full bg-black preloader z-[99]"></div>
  <div class="fixed top-0 left-[60%] w-[20%] h-full bg-black preloader z-[99]"></div>
  <div class="fixed top-0 left-[80%] w-[20%] h-full bg-black preloader z-[99]"></div>
</div>

<script>
  import gsap from "gsap";

  gsap.to(".preloader", {
    height: 0,
    delay: 0.2,
    duration: 1.1,
    ease: "power3.out",
    display: "none",
    stagger: 0.1
  });
</script>
