---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen">
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Big Shoulders";
    src: url(/font/BigShouldersDisplay-ExtraBold.ttf) format("truetype");
    font-weight: 800;
  }
  @font-face {
    font-family: "Big Shoulders";
    src: url(/font/BigShouldersDisplay-Black.ttf) format("truetype");
    font-weight: 900;
  }
  @font-face {
    font-family: "Outfit";
    src: url(/font/Outfit-Light.ttf) format("truetype");
  }
</style>
